Flask==2.2.5  # Core framework
Werkzeug==2.2.3  # WSGI utility library
Jinja2>=3.1.2  # Templating engine
itsdangerous>=2.1.2  # Security-related functions
MarkupSafe>=2.1.1  # Safe string handling
gunicorn>=20.1.0  # Production WSGI server
SQLAlchemy==1.4.27  # Database integration