css body 

{     
    font-family: 'Arial', sans-serif;     
    margin: 0;     
    padding: 0;     
    background-color: #000000;     
    color: #A9A9A9; 
}  

header, footer 

{     
    background-color: #FFA500;     
    color: #fff;     
    padding: 10px 0;     
    text-align: center; 
}  

header a, footer a 

{     
    color: #fff;     
    text-decoration: none; 
}  

header a:hover, 

footer a:hover 

{     
    text-decoration: underline; 
}  

nav a 

{     
    margin: 0 10px;     
    text-decoration: none;     
    color: #FFA500; 
} 

nav a:hover 

{      
    text-decoration: underline; 
}  

.container

{     
    max-width: 800px;     
    margin: 20px auto;     
    padding: 20px;     
    background-color: #fff;     
    border: 1px solid #ddd;     
    border-radius: 5px; 
}  

form 

{     
    max-width: 600px;     
    margin: 20px auto;     
    padding: 20px;     
    background-color: #fff;     
    border: 1px solid #ddd;     
    border-radius: 5px; 
}  

form label 

{     
    display: block;     
    margin-bottom: 5px; 
}  

form input, 
form select, 
form textarea 

{     
    width: 100%;    
    padding: 8px;     
    margin-bottom: 10px;     
    border: 1px solid #ddd;     
    border-radius: 3px; 
}  

form button 

{     
    padding: 10px 15px;     
    background-color: #FFA500;     
    color: #fff;     
    border: none;     
    border-radius: 3px;     
    cursor: pointer; 
}  

form button:hover 

{     
    background-color: #0056b3; 
}  

ul 

{     
    list-style-type: none;     
    padding: 0; 
}  

ul li 

{     
    background-color: #fff;     
    margin: 10px 0;     
    padding: 10px;     
    border: 1px solid #ddd;     
    border-radius: 5px; 
}  

a 

{     
    color: #FFA500; 
}  

a:hover 

{     
    text-decoration: underline; 
}  

#back-to-top 

{     
    display: block;     
    margin-top: 20px;     
    text-align: center; 
}  

.logo

{     
    display: block;     
    margin: 0 auto;     
    width: 150px; 
}  

.commitment 
{     
    background-color: #000000;     
    padding: 20px;     
    border-radius: 5px;     
    margin-top: 20px; 
} 

